$black: #1a0f0c;
$primary: #a639d9;
$secondary: #cd59ff;
$gray-200: #dbd4d4;
$gray-500: #9a9190;
$gray-800: #392e2c;
$grid-gutter-width: 32px;
$red: #fc4444;
$green: #00c9a5;
$modal-backdrop-bg: $primary;
$white: rgb(255, 253, 253);

.burn-form {
  max-width: 500px;
  background: rgba(255, 253, 253, 0.95);
  padding: 20px;
  border: 1px solid rgba(176, 81, 144, 0.4);
  box-shadow: 4px 4px 4px rgba(176, 81, 144, 0.25);
  border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $black;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(176, 81, 144, 0.25);
  border: none;
  border-bottom: 1px solid $primary;
}

// landing page //

.landing-page {
  height: 100vh;
  background: url(images/Backgroundv_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  min-width: 226px;
  max-width: 678px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.hero button {
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
}

.hero-title {
  font-size: 64px;
  color: $white;
  font-weight: 900;
  text-shadow: 1px 1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary,
    -1px -1px 0 $primary, 1px 0px 0 $primary, 0px 1px 0 $primary, -1px 0px 0,
    0px -1px 0 $primary;
  padding: 0;
  margin-bottom: 8px;
  margin-top: 40px;
}

.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
  color: $black;
}

.hero-link a {
  font-size: 48px;
  color: $white;
}

.hero-link a:visited,
.hero-link {
  color: $white;
}

.burn-card-top {
  width: 100%;
  margin: 0 auto;
}

.burn-card-top img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.burn-card-booking {
  background-color: $black;
  color: $white;
  padding: 20px;
  margin-bottom: 0;
}

.burn-cards-image {
  height: 400px;
  object-fit: cover;
  padding: 20px 20px 0px 20px;
}

#logreg-form {
  padding-top: 50px;
  max-width: 500px;
  margin: auto;
  height: 100vh;
}

.footer-container {
  background-color: $black;
  color: $white;
  text-align: center;
}

.footer-content {
  padding-top: 20px;
  max-width: 500px;
  min-width: 250px;
  margin: 0 auto;
}

.footer-title {
  font-size: 2.5rem;
}

.avatar {
  min-width: 300px;
  max-width: 450px;
}

.full-view {
  min-height: 100vh;
  padding-top: 24px;
}

.list-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.muted-text {
  color: $gray-500;
}

.border-bot {
  border-bottom: 2px solid $primary;
  padding-top: 10px;
  margin: 1rem;
}

.react-datepicker__header {
  color: $white;
  border-bottom: none;
}

.card-footer-pink {
  background-color: $primary !important;
  color: $white !important;
  padding-top: 10px;
  text-align: center;
}

.flower-background {
  background: url(images/Flower.png), url("images/pictures.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed, fixed;
  background-position: 0 0, 0 0;
  animation: backgroundAnimation 15s infinite linear;
  width: 100%;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0, 0 0;
  }
  50% {
    background-position: 0 50px, 0 -10px;
  }
  100% {
    background-position: 0 0, 0 0;
  }
}
.card-footer-pink a {
  color: $white !important;
}

.link-social {
  color: $white;
}

@import "~bootstrap/scss/bootstrap.scss";
